.Button{
    position:relative;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#ffffff;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    margin: 5px;
    background-color: transparent;
    border-color: #2ed9e9;
    border-width: 3px;
    border-style: solid;
}
.Button:hover {
    background-color:#0eabe9;
    transition:0.5s;
}
.ButtonBackH{
    position:relative;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#ffffff;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    margin: 5px;
    background-color: #0eabe9;
    border-color: #2ed9e9;
    border-width: 3px;
    border-style: solid;
}
.ButtonBackH:hover {
    border-color: whitesmoke;
    transition:0.5s;
    box-shadow: -1px 2px 15px 6px rgba(10, 237, 245, 0.965);
}
.ButtonCA{
    position: relative;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#ffffff;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    margin: 5px;
    background-color: #0eabe9;
    border-color: #2ed9e9;
    border-width: 3px;
    border-style: solid;
}
.ButtonCA:hover {
    border-color: whitesmoke;
    transition:0.5s;
    box-shadow: -1px 2px 15px 6px rgba(10, 237, 245, 0.965);
}
.rightButton {
    display: flex;
    align-items: flex-start;
}
.leftButton {
    display: flex;
    align-items: flex-end;
}
.selectAct {
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    position:relative;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#ffffff;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    margin: 5px;
    background-color: transparent;
    border-color: #2ed9e9;
    border-width: 3px;
    border-style: solid;
   }
   
   .selectAct:hover {
    background-color:#0eabe9;
    transition:0.5s;
   }
.CreateActivity{
    width: 700px;
    height: 600px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content:stretch;
    position: relative;
    background-color: rgba(255, 255, 255, 0.376);

}   
.activityContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}
.label{
    font-size: 18;
    font-weight: 700;
}
.Nav{
    display: flex;
    position:relative;
    justify-content: space-between;
    flex-direction: row;
    top: 2px;
    bottom: 900px;
}
